.menu-options-wrapper {
  height: 300px;
  width: 280px;
  overflow-x: hidden;

  .inner {
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}
